<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="anketbazEntities" connectionString="metadata=res://*/Database.anketbazDatabase.csdl|res://*/Database.anketbazDatabase.ssdl|res://*/Database.anketbazDatabase.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=1234;database=pollman;Min Pool Size=5;Max Pool Size=50;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="ImageDomain" value="localhost:2020/images"/>
		<add key="ImagePath" value="images"/>

	</appSettings>
	<system.data>
		<!--<DbProviderFactories>
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>-->
	</system.data>

	<system.web>
		<pages validateRequest="false" />
		<compilation targetFramework="4.5" debug="true" />
		<httpRuntime maxRequestLength="5500000" executionTimeout="99999999" requestValidationMode="2.0" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept, X-Requested-With" />
				<add name="Access-Control-Allow-Methods" value="OPTIONS, TRACE, GET, HEAD, POST, PUT" />
			</customHeaders>
		</httpProtocol>

		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:50:00" openTimeout="00:50:00" sendTimeout="00:50:00" receiveTimeout="00:50:00">
					<readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="webHttpBindingConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</webHttpBinding>
		</bindings>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<behaviors>
			<endpointBehaviors>
				<behavior name="serviceBehavior" />
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="false" httpsHelpPageEnabled="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="serviceBehavior" name="Anketbaz.Service.Core.DynamicService">
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="webHttpBindingConfiguration" contract="Anketbaz.Service.Core.IDynamicService" />
			</service>
			<service behaviorConfiguration="serviceBehavior" name="Anketbaz.Service.FileService.FileService">
				<endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="webHttpBindingConfiguration" contract="Anketbaz.Service.FileService.IFileService" />
			</service>
		</services>
	</system.serviceModel>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>